.calculator--theme-1 .display {
    background-color: var(--theme-1-screen-color);
    color: var(--theme-1-text-white);
}

.calculator--theme-2 .display {
    background-color: var(--theme-2-screen-color);
    color: var(--theme-2-text-1);
}

.calculator--theme-3 .display {
    background-color: var(--theme-3-screen-color);
    color: var(--theme-3-text-1);
}

.display {
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
}